<head>
               <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>


<img src="/static/USAF_pic2.jpg"/ width="300">
<ul>
    <li><a href="/"> Homepage </a></li>
</ul>

<h1>{{pagetitle}}</h1>


<form action="/range" method="POST">

	Base_Id: <input type="text" name="baseid"/> Please input a base id, an interger from 0 to 70<br/>
    <p> Suggested Id for Airbase [4(Japan), 35(US), 66(UK), 67(Europe)]</p>

    Reaction_Time: <input type="text" name="reactiontime"/> (Unit: hour, Please input a float from 0 to 1) <br/>

    <input type="submit" value="submit"/>

</form>


{% if plotlydiv == "No Fighter Jet in this Airbase! Please try another base." %}
<h3>{{plotlydiv}}</h3>

{% else %}
<div>
    {{plotlydiv|safe}}
</div>

{% endif %}